* {
  margin: 0;
}

.parent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.head {
  height: 10vh;
  background-color: rgb(24, 157, 246);
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  color: white;
}

.content {
  background-color: aquamarine;
  width: 70vw;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.aside {
  background-color: orange;
  width: 30vw;
  height: 80vh;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
}

.container {
  display: flex;
}

.foot {
  display: flex;
  background-color: rgb(0, 255, 251);
  justify-content: center;
  align-items: center;
  color: white;
  height: 10vh;
}