*{
    margin: 0;
}
.main{
    padding-left: 20px;
    background-color: rgb(84, 213, 230);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    padding: 35px;
    background-color: rgb(73, 176, 202);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 50px 50px; 
    font-size: 25px;  
}
.child{
    height: 120px;
    display: flex;
    justify-content: space-around;
    color: white;
    margin-bottom:90px;
    box-sizing: border-box;

}